body{
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(to right, rgb(6, 88, 6), rgb(3, 107, 3));
}
header{
    background-color: rgb(4, 63, 4);
    border-radius: 5px;
    margin-top: 10px;
}
.logo img{
    width: 40%;
    padding-top: 50px;
}
.navegacao{
    overflow: hidden;
}
.navegacao a{
    color: rgb(209, 204, 204);
    float: right;
    padding: 10px;
    text-decoration: none;
}
.navegacao a:hover{
    color: whitesmoke;
}
.principal{
    display: flex;
    flex-direction: column;
    background-color: rgb(40, 182, 94);
    border-radius: 5px;
    box-shadow: 5px 5px 15px;
}
.conteudo{
    margin: 5px 5px 0px px;
    text-align: justify;
    padding: 5px;
}
.rodape{
    color: rgb(196, 189, 189);
    text-align: center;
    font-size: 10px;
    padding: 20px;
}